.buy {
  background-color: #dcdcdc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ec1d23;
  height: 70px;
}
.favorite {
  background-color: #f0f0f0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}
.onFavorite {
  background-color: #322827;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  color: #ec1d23;
  font-weight: 400;
}
h3 {
  margin-left: 10px;
}
