div {
  background-color: #2d2727;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.534));
}
div img {
  width: 130px;
  height: 40px;
}
