ul {
  list-style: none;
  display: flex;
  margin: 50px;
}
li.number-button {
  margin-inline: 5px;
  color: #c5c1c2;
  filter: drop-shadow(0px 1.5px 1.5px rgba(0, 0, 0, 0.25));
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
li.number-button {
}
li.active {
  color: black;
  background-color: #b8b8b8a9;
}
.button-page {
  width: 40px;
  height: 40px;
  filter: drop-shadow(0px 1.5px 1.5px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

li.previous {
  background-image: url('../../../../assets/icons/btn_arrow_right.png');
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  filter: drop-shadow(0px -1.5px 1.5px rgba(0, 0, 0, 0.25));
}

li.next {
  background-image: url('../../../../assets/icons/btn_arrow_right.png');
  background-size: cover;
  background-repeat: no-repeat;
}

li.previous-disabled {
  background-image: url('../../../../assets/icons/btn_arrow_left.png');
  background-size: cover;
  background-repeat: no-repeat;
}

li.next-disabled {
  background-image: url('../../../../assets/icons/btn_arrow_left.png');
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(-180deg);
  filter: drop-shadow(0px -1.5px 1.5px rgba(0, 0, 0, 0.25));
}
