<div class="modal-container">
  <div class="modal">
    <div class="main-description">
      <img
        src="{{ comic.images[0].path }}.{{ comic.images[0].extension }}"
        alt="{{ comic.title }}"
      />
      <div>
        <h3>{{ comic.title }}</h3>
        <p>{{ comic.description }}</p>
      </div>
    </div>
    <div></div>
    <button (click)="close()">x</button>
    <div class="modalButton-container">
      <app-modal-button
        *ngIf="!validateFavoriteList()"
        type="favorite"
        urlImg="../../../../assets/icons/btn-favourites-default.png"
        text="ADD TO FAVORITES"
        (addToFavorite)="addFavoriteComic()"
      ></app-modal-button>
      <app-modal-button
        *ngIf="validateFavoriteList()"
        type="onFavorite"
        urlImg="../../../../assets/icons/btn-favourites-primary.png"
        text="ADDED TO FAVORITES"
        (addToFavorite)="addFavoriteComic()"
      ></app-modal-button>
      <app-modal-button
        type="buy"
        urlImg="../../../../assets/icons/shopping-cart-primary.png"
        text="BUY FOR ${{ comic.prices[0].price }}"
      ></app-modal-button>
    </div>
  </div>
</div>
