.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(44, 43, 39, 0.774);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  backdrop-filter: blur(10px);
}
.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  max-width: 55%;
  padding: 20px;
  position: relative;
  filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.25));
  box-sizing: border-box;
  height: 420px;
  padding-top: 30px;
}
.modal img {
  width: 240px;
  height: 300px;
}

.main-description {
  display: flex;
}
.modalButton-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  position: absolute;
  bottom: 0px;
  margin-top: 20px;
}

.description {
  margin-inline: 30px;
}

.close-button {
  background-image: url('../../../../assets/icons/btn-close.png');
  background-size: cover;
  height: 25px;
  width: 25px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
