.card-container {
  height: 440px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
}

p {
  height: 150px;
  display: -webkit-box;
  max-height: 150px;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
  margin-bottom: 15px;
  color: #8d8487;
}

.main-info {
  display: flex;
}
.main-info img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  left: -20px;
  filter: drop-shadow(0px 10px 8px rgba(0, 0, 0, 0.404));
}

.info-container {
  position: absolute;
  width: 50%;
  top: -12px;
  left: 42%;
}
.name-character {
  color: #4a403f;
  margin-bottom: 10px;
}

.card-container:hover .name-character {
  color: #ed1d23;
}

.comics-title {
  color: #8a8181;
  margin-bottom: 20px;
}

.related-comics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
}
.related-comics span {
  cursor: pointer;
  color: #8d8487;
}
.related-comics span:hover {
  color: #ed1d23;
}
.comics {
  position: relative;
}
.related-comics span:hover::before {
  content: url('../../../../assets/icons/link-arrow.png');
  width: 10px;
  position: absolute;
  left: -20px;
}
.comics-container {
  margin-top: 230px;
}
