<div class="card-container">
  <div class="main-info">
    <img
      src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}"
      alt="{{ character.name }}"
    />
    <div class="info-container">
      <h3 class="name-character">{{ character.name | uppercase }}</h3>
      <p>{{ character.description || 'No Available Description' }}</p>
      <app-button-more [urlchar]="character.urls[0].url"></app-button-more>
    </div>
  </div>
  <div class="comics-container">
    <h3 class="comics-title">Related comics</h3>
    <div class="related-comics">
      <div class="comics" *ngFor="let comic of arrayComics">
        <span (click)="openModal(comic.resourceURI)">{{ comic.name }}</span>
      </div>
    </div>
  </div>
</div>
