.drop-down-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 35px;
  box-sizing: border-box;
  padding-left: 20px;
}

.drop-down-container {
  display: flex;
}

.character-container-main {
  background-color: #f4f4f4;
  height: 100%;
}

.character-container {
  padding-top: 20px;
  padding-right: 28px;
}

.character-list {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  width: 95%;
  gap: 40px;
  margin-left: 50px;
}

.pagination-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
