<div>
  <app-page-dropdown
    (charByPage)="numberCharByPage($event)"
  ></app-page-dropdown>
  <app-sort-dropdown (sortBy)="sortOption($event)"></app-sort-dropdown>
</div>

<div class="character-list">
  <app-character-detail
    *ngFor="let character of characters"
    [character]="character"
    (comicModal)="comicShow($event)"
  ></app-character-detail>

  <app-comics-modal
    *ngIf="openModal"
    [comic]="comicSelected"
    (closeModal)="closePopup()"
  ></app-comics-modal>
</div>
<app-pagination
  [pagesArray]="buttonsToShow"
  (pageSelected)="page($event)"
></app-pagination>
