input {
  border: none;
  outline: none;
  width: 95%;
  background-color: #f9fafb;
}
input::placeholder {
  color: #b9b9b9;
}
div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2px;
  width: 400px;
  height: 40px;
  background-color: #f9fafb;
  position: relative;
  left: 50%;
  padding: 8px;
  box-sizing: border-box;
}
div img {
  width: 30px;
  height: 30px;
}
