.card-container {
  position: relative;
  margin-bottom: 50px;
}
.button-delete {
  position: absolute;
  right: -10px;
  top: -10px;
}
.imagen-comic {
  height: 300px;
  width: 200px;
}

.card-container h3 {
  margin-top: 10px;
}
