div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
div span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 23px;
  margin-left: 15px;
}
